@page "/"
@page "/index"
@inject IQueryIndexService _service
@inject IJobTrackerService _trackService
@inject IMapper _mapper
@inject IToastService _toastService
@inject IOptions<WebUiConfig> _options
@implements IDisposable
<h1>
    任务列表
</h1>

@if (SharedData.LastMergeTimePoint != null)
{
    <span class="small" style="line-height: 38px;">
        更新时间：@SharedData.LastMergeTimePoint.Value.ToOffset(TimeSpan.FromHours(8)).ToString(Constants.WebUiShowDateTimeFormat) 条数：@totalCount
    </span>
}
<div class="float-right">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">时间范围(@Constants.WebUiInputDateTimeFormat)</span>
        </div>
        <input type="text" @bind-value="@setStartTimeStr" placeholder="开始" class="form-control" />
        <input type="text" @bind-value="@setEndTimeStr" placeholder="结束" class="form-control" />
    </div>
</div>
<br />
<br />
<div class="input-group mb-3">
    <input type="text" class="form-control" @bind-value="@setPredicate" placeholder="lambda expression with 'index' as parameter" />
    <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary" @onclick="@(e=>ApplyPredicateAsync())">Query Now</button>
    </div>
</div>
@if (jobIndices.Any())
{
    <div class="table-responsive-md text-center">
        <table class="table table-striped table-sm table-hover">
            <thead>
                <tr>
                    <th class="text-info">JobId</th>
                    <th class="text-info">JobName</th>
                    <th class="text-muted">State</th>
                    <th class="text-info">IndexTime</th>
                    <th class="text-info">CreatedBy</th>
                    <th class="text-info">Tags</th>
                    <th class="text-muted">Progress</th>
                    <th class="text-info">Graph</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var jobIndex in jobIndices)
                {
                    <tr>
                        <td>
                            <a href="@jobIndex.DetailPath">@jobIndex.JobId</a>
                        </td>
                        <td>@jobIndex.JobName</td>
                        <td>
                            <span class="@Helper.GetStateBadgeColor(jobIndex.JobEntity.CurrentJobState)">@jobIndex.JobEntity.CurrentJobState</span>
                        </td>
                        <td>@jobIndex.IndexTime.ToOffset(TimeSpan.FromHours(8)).ToString(Constants.WebUiShowDateTimeFormat)</td>
                        <td>@jobIndex.CreatedBy</td>
                        <td>
                            @if (jobIndex.Tags?.Any() == true)
                            {
                                foreach (var tag in jobIndex.Tags)
                                {
                                    <span class="@Constants.TagClassStr">@tag</span>
                                }
                            }
                        </td>
                        <td>
                            @if (jobIndex.JobEntity.TotalChildrenCount > 0)
                            {
                                <div class="progress" style="max-width:300px">
                                    <div class="progress-bar @(jobIndex.JobEntity.FailedChildrenCount>0?" bg-danger":"bg-success")"
                                         role="progressbar"
                                         style="width:@(((jobIndex.JobEntity.TotalChildrenCount-jobIndex.JobEntity.PendingChildrenCount)/(jobIndex.JobEntity.TotalChildrenCount*1.0)).ToString(Constants.PercentageFormat))"></div>
                                </div>
                            }
                            else
                            {
                                <div>N/A</div>
                            }

                        </td>
                        <td><a href="@jobIndex.PreviewPath">Preview</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <div class="float-left">
            <span>Set page size:</span>
            <input type="text" style="max-width:50px" @bind-value="@setPageSize" @onblur="@(e=>RefreshByPageSizeAsync())" />
        </div>
        <div class="float-right">
            <select class="custom-select" @onchange="@(e=>GoToPageNumberAsync(e))">
                @for (int i = 1; i <= MaxPageNumber; i++)
                {
                    if (pageNumber == i)
                    {
                        <option value="@i" selected="selected">@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
        </div>
    </div>
}
else
{
    if (loadCompleted)
    {
        <p class="h2 bg-light">
            暂无数据 ~
        </p>
    }
    else
    {
        <p class="h2 bg-light">
            加载中。。。
        </p>
    }

}

@code{
    private string predicate = null;
    private string setPredicate = null;
    private int totalCount = 0;
    private int pageNumber = 1;
    private int pageSize = 10;
    private int setPageSize = 10;
    private int MaxPageNumber { get { return (int)Math.Ceiling((totalCount * 1.0) / pageSize); } }
    private List<JobIndexViewModel>
    jobIndices
    { get; set; } = new List<JobIndexViewModel>();
    private string startTimeStr;
    private string endTimeStr;
    private string setStartTimeStr;
    private string setEndTimeStr;
    private DateTime StartTime;
    private DateTime EndTime;
    private Task _refresher;
    private CancellationTokenSource _cancelRefreshSource = new CancellationTokenSource();
    private readonly SemaphoreSlim _semaphore = new SemaphoreSlim(1, 1);
    private bool loadCompleted;

    protected override async Task OnInitializedAsync()
    {

        await InitAsync();
        BuildTask();
    }

    private async Task InitAsync(bool force = false)
    {
        var current = DateTimeOffset.Now.ToOffset(TimeSpan.FromHours(8)).DateTime;
        StartTime = current.AddHours(-1);
        EndTime = current;
        startTimeStr = StartTime.ToString(Constants.WebUiInputDateTimeFormat);
        endTimeStr = EndTime.ToString(Constants.WebUiInputDateTimeFormat);
        setStartTimeStr = startTimeStr;
        setEndTimeStr = endTimeStr;
        await QueryIndicesAsync();
    }

    private async Task QueryIndicesAsync()
    {
        loadCompleted = false;
        try
        {
            await _semaphore.WaitAsync();
            if (!DateTime.TryParseExact(startTimeStr, Constants.WebUiInputDateTimeFormat, CultureInfo.InvariantCulture, DateTimeStyles.None, out var _)
            || !DateTime.TryParseExact(endTimeStr, Constants.WebUiInputDateTimeFormat, CultureInfo.InvariantCulture, DateTimeStyles.None, out var _))
            {
                _toastService.ShowError("时间范围格式错误");
                return;
            }

            StartTime = DateTime.ParseExact(startTimeStr, Constants.WebUiInputDateTimeFormat, CultureInfo.InvariantCulture);
            EndTime = DateTime.ParseExact(endTimeStr, Constants.WebUiInputDateTimeFormat, CultureInfo.InvariantCulture);

            if (EndTime < StartTime)
            {
                _toastService.ShowError("开始时间不可以大于结束时间");
                return;
            }
            if (EndTime - StartTime > TimeSpan.FromHours(24))
            {
                _toastService.ShowError("时间范围不可以超过24小时");
                return;
            }

            CorrectPageSetting();
            var currentTime = DateTimeOffset.Now;
            var defaultResult = await _service.QueryJobsAsync(new QueryJobIndexDto
            {
                Start = new DateTimeOffset(StartTime, TimeSpan.FromHours(8)),
                End = new DateTimeOffset(EndTime, TimeSpan.FromHours(8)),
                Predicate = predicate,
                PageNumber = pageNumber,
                PageSize = pageSize
            });
            totalCount = defaultResult.TotalCount;
            jobIndices = _mapper.Map<List<JobIndexViewModel>>(defaultResult.Indices);
            foreach (var index in jobIndices)
            {
                index.JobEntity = _mapper.Map<JobEntityViewModel>(await _trackService.GetJobByIdAsync(index.JobId));
            }
        }
        catch (Exception ex)
        {
            _toastService.ShowError(ex.Message, "查询错误");
        }
        finally
        {
            _semaphore.Release();
        }
        loadCompleted = true;
    }

    private void CorrectPageSetting()
    {
        if (pageNumber < 1)
        {
            pageNumber = 1;
        }
        if (pageSize < 1)
        {
            pageSize = 10;
        }
        if (pageNumber > MaxPageNumber)
        {
            pageNumber = MaxPageNumber;
        }
    }

    private async Task GoToPageNumberAsync(ChangeEventArgs e)
    {
        pageNumber = int.Parse(e.Value.ToString());
        await QueryIndicesAsync();
    }

    private async Task RefreshCurrentDataAsync()
    {
        if (jobIndices?.Any() == true)
        {
            var refreshUi = false;
            foreach (var jobIndex in jobIndices)
            {
                if (Helper.FinishedOrFaultedJobStates.Contains(jobIndex.JobEntity.CurrentJobState))
                {
                    continue;
                }
                jobIndex.JobEntity = _mapper.Map<JobEntityViewModel>(await _trackService.GetJobByIdAsync(jobIndex.JobId));
                refreshUi = true;
            }
            if (refreshUi)
            {
                await InvokeAsync(StateHasChanged);
            }
        }

    }

    private async Task ApplyPredicateAsync()
    {
        if (predicate == setPredicate && setStartTimeStr == startTimeStr && setEndTimeStr == endTimeStr)
        {
            return;
        }

        predicate = setPredicate;
        startTimeStr = setStartTimeStr;
        endTimeStr = setEndTimeStr;
        pageNumber = 1;
        await QueryIndicesAsync();
    }

    private async Task RefreshByPageSizeAsync()
    {
        if (pageSize == setPageSize)
        {
            return;
        }
        if (setPageSize > 100)
        {
            setPageSize = 100;
        }
        if (setPageSize < 1)
        {
            setPageSize = 10;
        }
        pageSize = setPageSize;
        pageNumber = 1;
        await QueryIndicesAsync();
        StateHasChanged();
    }

    public void DisposeTask()
    {
        _cancelRefreshSource.Cancel();
        _cancelRefreshSource.Dispose();
        _semaphore.Dispose();
    }

    public void BuildTask()
    {
        _refresher = Task.Run(async () =>
        {
            try
            {
                await Task.Delay(_options.Value.FirstUiRefreshDelay, _cancelRefreshSource.Token);

                while (!_cancelRefreshSource.Token.IsCancellationRequested)
                {
                    try
                    {
                        await _semaphore.WaitAsync(_cancelRefreshSource.Token);
                        await RefreshCurrentDataAsync();
                    }
                    catch (Exception ex)
                    {
                        _toastService.ShowError(ex.Message, nameof(RefreshCurrentDataAsync));
                    }
                    finally
                    {
                        _semaphore.Release();
                    }
                    await Task.Delay(_options.Value.UiRefreshInterval, _cancelRefreshSource.Token);
                }
            }
            catch (TaskCanceledException)
            {
            }

        });
    }

    public void Dispose()
    {
        DisposeTask();
    }
}
